# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
Documentacion-de-Avance.docx
Documentacion-de-Avance.pdf
Propuesta TFG Adrian Martin.pdf
Introducción.docx
plan_desarrollo.txt
